@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}


@layer base {
  * {
    @apply !scroll-smooth;
  }
}


@layer utilities {
  .heading {
    @apply font-bold text-2xl md:text-3xl text-center mb-12;
  }
}
